SERVER_NAME=localhost
MANAGEMENTPORTAL_KEY_DNAME=CN=localhost,OU=MyName,O=MyOrg,L=MyCity,S=MyState,C=MyCountryCode
MANAGEMENTPORTAL_FRONTEND_CLIENT_SECRET=
ENABLE_HTTPS=yes
SELF_SIGNED_CERT=yes
MAINTAINER_EMAIL=me@example.com
RADAR_RAW_TOPIC_LIST=android_phone_usage_event_aggregated,android_phone_usage_event_output
RADAR_AGG_TOPIC_LIST=
HOTSTORAGE_USERNAME=mongodb-user
HOTSTORAGE_PASSWORD=
POSTGRES_USER=postgresdb-user
HOTSTORAGE_NAME=mongodb-database
POSTGRES_PASSWORD=
FROM_EMAIL=from-email
MANAGEMENTPORTAL_CATALOGUE_SERVER_ENABLE_AUTO_IMPORT=false
HEALTHCHECK_SLACK_NOTIFY=no
HEALTHCHECK_SLACK_WEBHOOK_URL=
HEALTHCHECK_SLACK_CHANNEL=#radar-ops
HDFS_BASE_VERSION=3.0.3-alpine
POSTGRES_VERSION=10.6-alpine
KAFKA_MANAGER_USERNAME=kafkamanager-user
KAFKA_MANAGER_PASSWORD=
PORTAINER_PASSWORD_HASH=
MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_0=radarbase-managementportal-ec
MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_1=selfsigned
RESTRUCTURE_OUTPUT_DIR=output
RESTRUCTURE_NUM_THREADS=3
RESTRUCTURE_ENABLE_SNAPSHOTS=true
MANAGEMENTPORTAL_COMMON_ADMIN_PASSWORD=
MANAGEMENTPORTAL_COMMON_PRIVACY_POLICY_URL=http://info.thehyve.nl/radar-cns-privacy-policy
ENABLE_OPTIONAL_SERVICES=false
FITBIT_API_CLIENT_ID=fitbit-client
FITBIT_API_CLIENT_SECRET=fitbit-secret
NGINX_PROXIES=
RADAR_SCHEMAS_VERSION=0.4.3
