export SERVER_NAME=localhost
export MANAGEMENTPORTAL_KEY_DNAME=CN=localhost,OU=MyName,O=MyOrg,L=MyCity,S=MyState,C=MyCountryCode
export MANAGEMENTPORTAL_FRONTEND_CLIENT_SECRET=
export ENABLE_HTTPS=yes
export MAINTAINER_EMAIL=me@example.com
export RADAR_RAW_TOPIC_LIST=android_phone_usage_event_aggregated,android_phone_usage_event_output
export RADAR_AGG_TOPIC_LIST=
export HOTSTORAGE_USERNAME=mongodb-user
export HOTSTORAGE_PASSWORD=
export POSTGRES_USER=postgresdb-user
export HOTSTORAGE_NAME=mongodb-database
export POSTGRES_PASSWORD=
export FROM_EMAIL=from-email
export MANAGEMENTPORTAL_CATALOGUE_SERVER_ENABLE_AUTO_IMPORT=false
export HEALTHCHECK_SLACK_NOTIFY=no
export HEALTHCHECK_SLACK_WEBHOOK_URL=
export HEALTHCHECK_SLACK_CHANNEL=#radar-ops
export HDFS_BASE_VERSION=3.0.3-alpine
export POSTGRES_VERSION=10.6-alpine
export KAFKA_MANAGER_USERNAME=kafkamanager-user
export KAFKA_MANAGER_PASSWORD=
export PORTAINER_PASSWORD_HASH=
export MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_0=radarbase-managementportal-ec
export MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_1=selfsigned
export RESTRUCTURE_OUTPUT_DIR=output
export RESTRUCTURE_NUM_THREADS=3
export RESTRUCTURE_ENABLE_SNAPSHOTS=true
export MANAGEMENTPORTAL_COMMON_ADMIN_PASSWORD=
export MANAGEMENTPORTAL_COMMON_PRIVACY_POLICY_URL=http://info.thehyve.nl/radar-cns-privacy-policy
export ENABLE_OPTIONAL_SERVICES=false
export FITBIT_API_CLIENT_ID=fitbit-client
export FITBIT_API_CLIENT_SECRET=fitbit-secret
export NGINX_PROXIES=
export RADAR_SCHEMAS_VERSION=0.4.3
