## Base configs
export RADAR_INSTALL_BASE=true

export CATALOG_SERVER_IMAGE_TAG=0.4.3
export CATALOG_SERVER_REPLICA_COUNT=1
export CP_KAFKA_IMAGE_TAG=5.2.1
export CP_SCHEMA_REGISTRY_IMAGE_TAG=5.2.1
export CP_SCHEMA_REGISTRY_REPLICA_COUNT=1
export CP_ZOOKEEPER_IMAGE_TAG=5.2.1
export FROM_EMAIL=from-email
export KAFKA_NUM_BROKERS=3
export MAINTAINER_EMAIL=me@example.com
export MANAGEMENT_PORTAL_IMAGE_TAG=0.5.6
export MANAGEMENT_PORTAL_REPLICA_COUNT=1  # should be 1
export MANAGEMENTPORTAL_CATALOGUE_SERVER_ENABLE_AUTO_IMPORT=true
export MANAGEMENTPORTAL_COMMON_ADMIN_PASSWORD=
export MANAGEMENTPORTAL_COMMON_PRIVACY_POLICY_URL=http://info.thehyve.nl/radar-cns-privacy-policy
export MANAGEMENTPORTAL_FRONTEND_CLIENT_SECRET=
export MANAGEMENTPORTAL_KEY_DNAME=CN=localhost,OU=MyName,O=MyOrg,L=MyCity,S=MyState,C=MyCountryCode
export MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_0=radarbase-managementportal-ec
export MANAGEMENTPORTAL_OAUTH_CHECKING_KEY_ALIASES_1=selfsigned
export NGINX_INGRESS_REPLICA_COUNT=1
export POSTGRES_PASSWORD=password
export POSTGRES_IMAGE_TAG=11.3.0-debian-9-r28  # NOTICE: please select the tag from https://hub.docker.com/r/bitnami/postgresql
export SERVER_NAME=localhost


## Ingestion configs
export RADAR_INSTALL_INGESTION=true

export CP_KAFKA_REST_IMAGE_TAG=5.2.1
export CP_KAFKA_REST_REPLICA_COUNT=1
export RADAR_GATEWAY_IMAGE_TAG=dev
export RADAR_GATEWAY_REPLICA_COUNT=1


## HDFS configs
export RADAR_INSTALL_HDFS=true

export HDFS_DATANODE_REPLICA_COUNT=3
export HDFS_IMAGE_TAG=3.0.3-alpine
export HDFS_NAMENODE_REPLICA_COUNT=1  # should be 1
export RADAR_CONNECT_HDFS_SINK_IMAGE_TAG=0.2.0
export RADAR_CONNECT_HDFS_SINK_REPLICA_COUNT=1
export RADAR_OUTPUT_IMAGE_TAG=0.5.7
export RADAR_OUTPUT_REPLICA_COUNT=1  # should be 1
export RADAR_RAW_TOPIC_LIST=android_phone_usage_event_aggregated,android_phone_usage_event_output  # FIXME: This isn't used anywhere yet
export RESTRUCTURE_NUM_THREADS=1
export RADAR_OUTPUT_SFTP_PUBLIC_KEY="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCzNZZGH25F2jEFeFZqmhiePgA02D8jX/8+kRT9lflfKaPUP8wbyc4AmRzv7AFzW1sjVCzn400Aq+gxHmeiCp1wilPprYUTD9hl6mspvTBZlWhcxgisJZVMDt1+9BL8i6BnPFqYT3TwDDuaMXW105qaYwI+xlwvt6WY2ZTkRalwCpdRucYcpbt9cF7rXoQCebXLAypIeZF3yWUhD6GTtnZBuM5pAybUMyrtDZsn4lPSSqjP7bJqp4uiikwkJcT+xjrh06+8SgirN9W5z3+I4x66pg8CEs4b8it/5wAe1+2d0Yju7aCXvpDshERTbRvc6A1chj7SK2m/CxTdv00mtumH"

## Dashboard configs
export RADAR_INSTALL_DASHBOARD=true

export HOTSTORAGE_PASSWORD=password
export RADAR_AGG_TOPIC_LIST=  # FIXME: This isn't used anywhere yet
export RADAR_DASHBOARD_IMAGE_TAG=2.1.0
export RADAR_DASHBOARD_REPLICA_COUNT=1
export RADAR_HOTSTORAGE_IMAGE_TAG=0.1
export RADAR_HOTSTORAGE_REPLICA_COUNT=1  # should be 1
export RADAR_MONGODB_CONNECTOR_IMAGE_TAG=dev
export RADAR_MONGODB_CONNECTOR_REPLICA_COUNT=1
export RADAR_RESTAPI_IMAGE_TAG=0.3
export RADAR_RESTAPI_REPLICA_COUNT=1


## Kafka Analysis configs
export RADAR_INSTALL_KAFKA_ANALYSIS=true

export RADAR_BACKEND_IMAGE_TAG=0.4.0
export RADAR_BACKEND_MONITOR_REPLICA_COUNT=1
export RADAR_BACKEND_STREAM_REPLICA_COUNT=1
export SMTP_ADDRESS=mail.example.com
export SMTP_IMAGE_TAG=latest
export SMTP_PASSWORD=XXXXXX
export SMTP_REPLICA_COUNT=1
export SMTP_USER=user@example.com


## Fitbit configs
export RADAR_INSTALL_FITBIT=false

export FITBIT_API_CLIENT_ID=fitbit-client
export FITBIT_API_CLIENT_SECRET=fitbit-secret
export RADAR_FITBIT_CONNECTOR_IMAGE_TAG=0.2.0
export RADAR_FITBIT_CONNECTOR_REPLICA_COUNT=1
export RADAR_FITBIT_CONNECTOR_REPLICA=1
export RADAR_REST_SOURCES_AUTHORIZER_IMAGE_TAG=1.0.0
export RADAR_REST_SOURCES_AUTHORIZER_REPLICA_COUNT=1
export RADAR_REST_SOURCES_BACKEND_IMAGE_TAG=1.0.0
export RADAR_REST_SOURCES_BACKEND_REPLICA_COUNT=1


## Redcap configs
export RADAR_INSTALL_REDCAP=false

export RADAR_INTEGRATION_IMAGE_TAG=0.1.0
export RADAR_INTEGRATION_REPLICA_COUNT=1


## Other configs
export KAFKA_MANAGER_IMAGE_TAG=1.3.3.18
export KAFKA_MANAGER_PASSWORD=password
export KAFKA_MANAGER_USERNAME=kafkamanager-user
export MONITORING_NGINX_AUTH=test:$apr1$s5C61r9E$kFpp71zFuP7WYiHlA.2Tb1
export MONITORING_SLACK_CHANNEL=#radar-ops
export MONITORING_SLACK_WEBHOOK_URL="https://hooks.slack.com/services/XXXXXX/XXXXXX/XXXXXXXXXX"
