environments:
  default:
    values:
      - ../etc/base.yaml
      - ../etc/production.yaml
      - ../etc/production.yaml.gotmpl
      - ../etc/secrets.yaml
    {{ if not .Values.enable_tls }}
      - ../mods/disable_tls.yaml
    {{ end }}
    {{ if .Values.dev_deployment }}
    - ../etc/_mods/disable_tls.yaml
    - ../etc/_mods/disable_logging_and_monitoring.yaml
    - ../etc/_mods/local_development.yaml
    {{ end }}

---

helmDefaults:
  atomic: {{ .Values.atomicInstall }}
  kubeContext: {{ .Values.kubeContext }}
  wait: true

repositories:
  - name: radar
    url: https://radar-base.github.io/radar-helm-charts
  - name: cp-radar
    url: https://radar-base.github.io/cp-helm-charts
