{{ define "common.prerequisites" -}}
## Prerequisites
* Kubernetes 1.17+
* Kubectl 1.17+
* Helm 3.1.0+
{{- end }}

{{ define "common.prerequisiteswithpv" -}}
{{ template "common.prerequisites" . }}
* PV provisioner support in the underlying infrastructure
{{- end }}
