## nginx configuration
## Ref: https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/nginx-configuration/index.md
##


controller:
  image:
    digest: false
    digestChroot: false
  admissionWebhooks:
    patch:
      image:
        digest: false
  allowSnippetAnnotations: true
  # -- Will add custom configuration options to Nginx https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/
  config:
    ssl-redirect: "true"
    server-tokens: "false"
    http-snippet:
      limit_req_zone $binary_remote_addr zone=login_limit:10m rate=2r/s;
  addHeaders:
    X-Frame-Options: Deny
    X-Xss-Protection: 1; mode=block
    X-Content-Type-Options: nosniff

  ## Define requests resources to avoid probe issues due to CPU utilization in busy nodes
  ## ref: https://github.com/kubernetes/ingress-nginx/issues/4735#issuecomment-551204903
  ## Ideally, there should be no limits.
  ## https://engineering.indeedblog.com/blog/2019/12/cpu-throttling-regression-fix/
  resources:
    requests:
      cpu: 100m
      memory: 90Mi

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
