management_portal:
  keystore: {{ readFile "../etc/management-portal/keystore.p12" | b64enc | quote }}

radar_appserver:
  google_application_credentials: {{ requiredEnv "FIREBASE_ADMINSDK_JSON" | quote }}
