apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "radar-rest-sources-backend.fullname" . }}
  labels:
    app: {{ template "radar-rest-sources-backend.name" . }}
    chart: {{ template "radar-rest-sources-backend.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  authorizer.yml: |
    service:
      # Interval time in minutes for syncing projects and subjects.
      baseUri: http://0.0.0.0:8080/rest-sources/backend/
      advertisedBaseUri: http://0.0.0.0:8080/rest-sources/backend/
      enableCors: true
      syncParticipantsIntervalMin: 2
      stateStoreExpiryInMin: 15

    auth:
      # Management Portal URL
      managementPortalUrl: http://{{ .Values.managementportal_host }}:8080/managementportal/
      # OAuth2 Client id of more-promasys-sync application
      clientId: radar_rest_sources_auth_backend
      # OAuth2 Client Secret of more_promasys_sync_client client
      clientSecret: {{ .Values.client_secret }}

    database:
      driver: org.postgresql.Driver
      url: jdbc:postgresql://{{ .Values.postgres.host }}:{{ .Values.postgres.port }}/{{ .Values.postgres.database }}{{ .Values.postgres.connection_parameters }}
      user: {{ .Values.postgres.user }}
      password: {{ .Values.postgres.password }}
      dialect: org.hibernate.dialect.PostgreSQLDialect

    restSourceClients:
      {{- range $clientId, $client := .Values.restSourceClients -}}
      {{- if $client.enable -}}
      {{ (list (omit $client "enable")) | toYaml | nindent 6 }}
      {{- end -}}
      {{- end }}
