kafka_num_brokers: 1
kafka_num_in_sync_brokers: 1
kafka_num_topic_replicas: 1
kafka_num_topic_partitions: 1
cp_kafka:
  configurationOverrides:
    "offsets.topic.replication.factor": 1
    "default.replication.factor": 1
    "transaction.state.log.replication.factor": 1
    "confluent.license.topic.replication.factor": 1
    "confluent.tier.metadata.replication.factor": 1
    "confluent.durability.topic.replication.factor": 1
    "confluent.balancer.topic.replication.factor": 1
    "confluent.monitoring.interceptor.topic.replication.factor": 1
    "transaction.state.log.replication.factor": 1
    "transaction.state.log.min.isr": 1
cp_zookeeper:
  servers: 1
ksql_server:
  ksql:
    ksql:
      queries: |
        {{- readFile "../mods/ksql-queries/_base_observations_stream.sql"             | nindent 8 }}
        {{- readFile "../mods/ksql-queries/questionnaire_response_observations.sql"   | nindent 8 }}
        {{- readFile "../mods/ksql-queries/questionnaire_app_event_observations.sql"  | nindent 8 }}
