{{ define "redis.notes" -}}
## Redis

This chart deploys Redis components for RADAR-base using upstream charts like redis-cluster. Configure the dependencies via this chart's values.yaml under the respective keys.
{{- end }}
