usePassword: false

cluster:
  enabled: true
  slaveCount: 1

networkPolicy:
  enabled: false

metrics:
  enabled: true
  serviceMonitor:
    enabled: true

sentinel:
  enabled: false

master:
  podAnnotations:
    backup.velero.io/backup-volumes: redis-data

# Redis may require some changes in the kernel of the host machine to work as expected, in particular increasing the somaxconn value and disabling transparent huge pages.
sysctlImage:
  enabled: true
  mountHostSys: true
  command:
    - /bin/sh
    - -c
    - |-
      install_packages procps
      sysctl -w net.core.somaxconn=10000
      echo never > /host-sys/kernel/mm/transparent_hugepage/enabled
