name: Install applications on Kubernets

on:
  push:
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: "Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)"
        required: false
        default: false

jobs:
  install:
    strategy:
      matrix:
        KUBECTL_VERSION: ["v1.27.0", "v1.28.0", "v1.29.0", "v1.30.0"]
        include:
          - KUBECTL_VERSION: "v1.27.0"
            K3S_VERSION: "v1.27.14+k3s1"
          - KUBECTL_VERSION: "v1.28.0"
            K3S_VERSION: "v1.28.10+k3s1"
          - KUBECTL_VERSION: "v1.29.0"
            K3S_VERSION: "v1.29.5+k3s1"
          - KUBECTL_VERSION: "v1.30.0"
            K3S_VERSION: "v1.30.1+k3s1"
    runs-on: self-hosted
    steps:
      - name: Cleanup
        continue-on-error: true
        run: |
          ls -la ./
          rm -rf ./* || true
          rm -rf ./.??* || true
          rm -rf /opt/images || true
          ls -la ./
          mkdir -p /var/tmp/images
          for ref in `k3s ctr images ls | \grep -oE "^\S+" | sort -u` ; do k3s ctr images export /var/tmp/images/`openssl rand -hex 10`.tar $ref; done
          /usr/local/bin/k3s-uninstall.sh

      - uses: actions/checkout@v3

      - name: Install dependencies
        env:
          KUBECTL_VERSION: ${{ matrix.KUBECTL_VERSION }}
          HELM_VERSION: "v3.11.3"
          HELM_DIFF_VERSION: "3.6.0"
          HELMFILE_VERSION: "v0.152.0"
          YQ_VERSION: "v4.33.3"
        run: |
          ./.github/ci_config/bin/install-dependencies

      - name: Prepare the environment (add secrets and enable installation of all components)
        run: |
          DNAME='CN=CI,O=TheHyve,L=Utrecht,C=NL' ./bin/init
          yq -i -f process '.environments.default.values += ["../.github/ci_config/ci-config.yaml", "../.github/ci_config/secrets.yaml.gotmpl"]' environments.yaml
          sed -i '/_install: /s/false/true/' etc/production.yaml

      - name: Run helmfile template
        env:
          FIREBASE_ADMINSDK_JSON: ${{ secrets.FIREBASE_ADMINSDK_JSON }}
        run: |
          helmfile template

      - name: Install K3S
        env:
          INSTALL_K3S_VERSION: ${{ matrix.K3S_VERSION }}
          INSTALL_K3S_SYMLINK: "skip"
          K3S_KUBECONFIG_MODE: "644"
        run: |
          curl -sfL https://get.k3s.io | sh -s - --disable traefik --disable-helm-controller
          cp /etc/rancher/k3s/k3s.yaml ~/.kube/config
          ls -1 /var/tmp/images | xargs -L1 k3s ctr images import

      - name: Install RADAR-Kubernetes
        env:
          FIREBASE_ADMINSDK_JSON: ${{ secrets.FIREBASE_ADMINSDK_JSON }}
        run: |
          echo "kubeconfig: $KUBECONFIG"
          kubectl get pods --all-namespaces

          helmfile sync --concurrency 1

      # Enable tmate debugging of manually-triggered workflows if the input option was provided
      - name: Manually triggered tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        with:
          limit-access-to-actor: true

      - name: Setup tmate session if jobs have failed
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 15
        with:
          limit-access-to-actor: true

      - name: Report cluster state
        if: always()
        run: |
          kubectl get pods --all-namespaces

  check-gitignore:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Check gitignore
        run: |
          echo "Checking whether any files that should be ignored are uploaded"
          echo
          if find . -not -path './.git/*' -type f | git check-ignore --stdin --no-index; then
            echo
            echo "Remove the above files from this branch"
            exit 1
          else
            echo "No ignored files have been added"
          fi
