## Bitnami PostgreSQL image version
## ref: https://hub.docker.com/r/bitnami/postgresql/tags/
## @param image.registry PostgreSQL image registry
## @param image.repository PostgreSQL image repository
## @param image.tag PostgreSQL image tag (immutable tags are recommended)
## @param image.pullPolicy PostgreSQL image pull policy
## @param image.pullSecrets Specify image pull secrets
## @param image.debug Specify if debug values should be set
##
image:
  registry: docker.io
  repository: bitnami/postgresql
  tag: 11.16.0
## Authentication parameters
## ref: https://github.com/bitnami/bitnami-docker-postgresql/blob/master/README.md#setting-the-root-password-on-first-run
## ref: https://github.com/bitnami/bitnami-docker-postgresql/blob/master/README.md#creating-a-database-on-first-run
## ref: https://github.com/bitnami/bitnami-docker-postgresql/blob/master/README.md#creating-a-database-user-on-first-run
##
auth:
  ## @param auth.enablePostgresUser Assign a password to the "postgres" admin user. Otherwise, remote access will be blocked for this user
  ##
  enablePostgresUser: true
  ## @param auth.postgresPassword Password for the "postgres" admin user. Ignored if `auth.existingSecret` with key `postgres-password` is provided
  ##
  postgresPassword: ""
  ## @param auth.username Name for a custom user to create
  ##
  username: ""
  ## @param auth.password Password for the custom user to create. Ignored if `auth.existingSecret` with key `password` is provided
  ##
  password: ""
  ## @param auth.database Name for a custom database to create
  ##
  database: managementportal
## @param architecture PostgreSQL architecture (`standalone` or `replication`)
##
architecture: standalone
## Replication configuration
## Ignored if `architecture` is `standalone`
##
replication:
  ## @param replication.applicationName Cluster application name. Useful for advanced replication settings
  ##
  applicationName: radar
## @param postgresqlDataDir PostgreSQL data dir folder
##
postgresqlDataDir: /bitnami/postgresql/data

## @section PostgreSQL Primary parameters
##
primary:
  ## Initdb configuration
  ## ref: https://github.com/bitnami/bitnami-docker-postgresql/blob/master/README.md#specifying-initdb-arguments
  ##
  initdb:
    ## @param primary.initdb.scripts Dictionary of initdb scripts
    ## Specify dictionary of scripts to be run at first boot
    ## e.g:
    ## scripts:
    ##   my_init_script.sh: |
    ##      #!/bin/sh
    ##      echo "Do something."
    ##
    scripts:
      multi-db-init.sh: |
         #!/bin/bash
         set -e
         set -u

         function create_user_and_database() {
           local database=$1
           local database_exist=$(psql -U "$POSTGRES_USER" -tAc "SELECT 1 FROM pg_database WHERE datname='$database';")
           if [[ "$database_exist" == 1 ]]; then
             echo "Database $database already exists"
           else
             echo "Database $database does not exist"
             echo "  Creating database '$database' for user '$POSTGRES_USER'"
             psql -U "$POSTGRES_USER" -v ON_ERROR_STOP=1  <<-EOSQL
             CREATE DATABASE "$database";
             GRANT ALL PRIVILEGES ON DATABASE $database TO "$POSTGRES_USER";
         EOSQL
           fi
         }

         if [ -n "$POSTGRES_MULTIPLE_DATABASES" ]; then
           echo "Multiple database creation requested: $POSTGRES_MULTIPLE_DATABASES"
           #waiting for postgres
           for db in $(echo $POSTGRES_MULTIPLE_DATABASES | tr ',' ' '); do
             create_user_and_database $db
           done
           echo "Databases created"
         fi
  ## @param primary.extraEnvVars Array with extra environment variables to add to PostgreSQL Primary nodes
  ## e.g:
  ## extraEnvVars:
  ##   - name: FOO
  ##     value: "bar"
  ##
  extraEnvVars:
    - name: POSTGRES_MULTIPLE_DATABASES
      value: managementportal,restsourceauthorizer,appconfig
  ## @param primary.podAnnotations Map of annotations to add to the pods (postgresql primary)
  ##
  podAnnotations:
    backup.velero.io/backup-volumes: data
    post.hook.backup.velero.io/command: '["/bin/fsfreeze", "--unfreeze", "/bitnami/postgresql"]'
    post.hook.backup.velero.io/container: fsfreeze
    pre.hook.backup.velero.io/command: '["/bin/fsfreeze", "--freeze", "/bitnami/postgresql"]'
    pre.hook.backup.velero.io/container: fsfreeze
  ## @param primary.sidecars Add additional sidecar containers to the PostgreSQL Primary pod(s)
  ## For example:
  ## sidecars:
  ##   - name: your-image-name
  ##     image: your-image
  ##     imagePullPolicy: Always
  ##     ports:
  ##       - name: portname
  ##         containerPort: 1234
  ##
  sidecars:
  - name: fsfreeze
    image: busybox
    securityContext:
      privileged: true
    volumeMounts:
      - mountPath: "/bitnami/postgresql"
        name: data
        readOnly: false
    command:
      - "/bin/sh"
      - "-c"
      - "sleep infinity"
  ## PostgreSQL Primary persistence configuration
  ##
  persistence:
    ## @param primary.persistence.enabled Enable PostgreSQL Primary data persistence using PVC
    ##
    enabled: true
    ## @param primary.persistence.mountPath The path the volume will be mounted at
    ## Note: useful when using custom PostgreSQL images
    ##
    mountPath: /bitnami/postgresql
    ## @param primary.persistence.size PVC Storage Request for PostgreSQL volume
    ##
    size: 8Gi
## Init containers parameters:
## volumePermissions: Change the owner and group of the persistent volume(s) mountpoint(s) to 'runAsUser:fsGroup' on each node
##
volumePermissions:
  ## @param volumePermissions.enabled Enable init container that changes the owner and group of the persistent volume
  ##
  enabled: true

## @section Metrics Parameters

metrics:
  ## @param metrics.enabled Start a prometheus exporter
  ##
  enabled: true
